@import "tailwindcss";

@layer base {
  p {
    margin: 0.5rem 0;
    font-family: var(--body);
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading);
    line-height: 1.5em;
  }

  h3 {
    font-size: 2rem;
  }
}

@layer components {
  .textBox {
    @apply w-full p-4 backdrop-blur rounded-xl my-2;
    background-color: rgb(var(--bg2) / 0.8);
  }

  .section {
    @apply max-w-2xl mx-auto;
  }

  .circle {
    @apply rounded-full bg-gradient-to-br from-slate-600 to-slate-800 shadow-lg duration-500 flex items-center justify-center hover:scale-125 hover:brightness-125;
    transition-property: transform, filter;
  }

  .button {
    @apply p-2 rounded-lg;
    background-color: rgb(var(--accent2));
    font-family: var(--heading);
    color: rgb(var(--bg));
  }

  .accent-button {
    @apply rounded-lg hover:transition-colors duration-200 aspect-square h-8 w-8;
    background-color: rgb(var(--accent2));
  }

  .accent-button:hover {
    background-color: rgb(var(--accent));
  }

  .heading {
    @apply tracking-wide inline-block rounded-lg bg-black/50 backdrop-blur relative p-2;
    color: rgb(var(--bg));
  }

  .accent {
    color: rgb(var(--accent)) !important;
  }

  .heading-strip {
    @apply text-center;
    background-color: rgb(var(--bgDark));
    font-size: 2.5rem;
    color: rgb(var(--bg));
  }

  @layer utilities {
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }

    .scrollbar-none {
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */
      scrollbar-width: none;
      /* Firefox */
    }

    .feathered {
      mask-image: radial-gradient(rgba(0, 0, 0, 1) 0% rgba(0, 0, 0, 1) 90% rgba(0, 0, 0, 0) 100%);
    }
  }
}